<div
    class="mobile-menu-triggerer dope-mr-3 dope-cursor-pointer dope-flex dope-items-center dope-flex-none dope-space-x-2 dope-absolute dope-top-6 dope-right-6">
    <p class=" dope-uppercase dope-font-bold">Menu</p>
    <div class=" dope-flex dope-flex-col dope-space-y-2">
        <span class=" dope-block dope-h-[3px] dope-w-8 dope-bg-gray-800"></span>
        <span class=" dope-block dope-h-[3px] dope-w-6 dope-bg-gray-800"></span>
    </div>
</div>



<div class=" dope-max-w-6xl dope-px-6 dope-mx-auto dope-pt-10 dope-pb-10 lg:dope-pb-0">
    <div class=" lg:dope-grid-cols-2 dope-grid-cols-1 dope-grid dope-gap-20">
        <div class=" dope-flex dope-flex-col dope-justify-center dope-space-y-6">
            <h1 class="dope-text-5xl dope-font-extrabold dope-text-gray-800">{{@site.title}}</h1>
            <p class="dope-text-2xl dope-font-semibold dope-text-gray-700">{{@site.description}}</p>
            <p class="dope-text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum placeat asperiores sit aliquam unde qui, aliquid alias saepe quam dolores, suscipit assumenda rem nam corrupti optio delectus et maxime voluptatum.</p>
            <a href="/book-a-free-1on1-session" class=" dope-text-white dope-font-semibold dope-bg-gray-800 dope-px-4 dope-py-2 dope-rounded-md dope-w-max">Get a free demo</a>
        </div>
        <div class=" dope-hidden lg:dope-block">
            <img src="https://adii.me/content/images/2021/01/adii.png" alt="">
        </div>
    </div>
</div>