<div
    class=" dope-z-50 mobile-menu-triggerer dope-cursor-pointer dope-flex dope-items-center dope-flex-none dope-space-x-2 dope-absolute dope-top-6 dope-right-6">
    <p class=" dope-uppercase dope-font-bold">Menu</p>
    <div class=" dope-flex dope-flex-col dope-space-y-2">
        <span class=" dope-block dope-h-[3px] dope-w-8 dope-bg-gray-800"></span>
        <span class=" dope-block dope-h-[3px] dope-w-6 dope-bg-gray-800"></span>
    </div>
</div>