{{!< default}}

{{#contentFor "styles"}}
    <style>
        .owl .owl-prev:before {
            content: "Prev";
        }

        .owl .owl-next:before {
            content: "Next";
        }
    </style>
{{/contentFor}}

<div class="content-area">
    <main class="site-main">
        {{> hero}}
    </main>
</div>