@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    font-style: normal;
    src: url("fonts/Gilroy-ExtraBold.woff") format("woff"),
        url("fonts/Gilroy-ExtraBold.woff2") format("woff2");
    font-display: swap;
}

.secondary-menu > .nav-list.u-plain-list {
    @apply dope-list-none;
    @apply dope-flex dope-items-center;
    @apply dope-space-x-3;
}

.secondary-menu > .nav-list.u-plain-list a {
    @apply dope-text-gray-400 hover:dope-text-gray-500;
}

/* .post-tag {
    @apply dope-text-gray-700;
} */

.share-item:hover {
    @apply dope-bg-gray-300 dope-text-gray-700;
}

.u-text-format a {
    @apply dope-text-gray-700;
}

h1.title {
    font-family: "Gilroy";
}

.button {
    @apply !dope-text-white dope-font-semibold dope-px-4 dope-py-2 dope-rounded-md dope-w-max !dope-no-underline;
    background-color: var(--ghost-accent-color);
}

.custom-hero-content.dope-prose ul > li:before {
    height: 18px;
    width: 18px;
    top: 5px;
    left: 0;
    background-color: var(--ghost-accent-color);
}
